<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Connard"
        tools:targetApi="31"
        android:usesCleartextTraffic="true"
        >



        <activity android:name=".UpgradeMainClass" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="siara.cc"
                    android:pathPrefix="/CrossCalc"/>
            </intent-filter>
        </activity>
        <receiver
            android:name=".notificationAction"
            android:exported="false">
            <!-- android:exported="false" vì receiver này chỉ nhận broadcast từ bên trong app của bạn -->

            <!-- Intent filter để lắng nghe các action từ nút notification -->
            <intent-filter>
                <!-- Action string này PHẢI khớp chính xác với hằng số trong NotificationActionReceiver.java -->
                <action android:name="com.example.connard.ACTION_ALLOW_GAME"/>
                <!-- Action string này PHẢI khớp chính xác với hằng số trong NotificationActionReceiver.java -->
                <action android:name="com.example.connard.ACTION_BLOCK_GAME"/>
            </intent-filter>
        </receiver>

    </application>


</manifest>